@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;0,900;1,400;1,500;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap');

/* ######################## Reset CSS ######################## */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*{
  box-sizing: border-box;
}

/* ######################## General CSS ######################## */
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 40px;
}
a{
  text-decoration: none;
}
i{
  font-size: 18px;
  margin-right: 5px;
}
.flex{
  display: flex;
  flex-wrap: wrap;
}



/* ######################## Normal CSS ######################## */

/* ############# Header CSS ############# */
#header{
  padding: 20px 0;
  line-height: 55px;
  font-family: 'Lora', serif;
  background-color: #000000;
}
.header-flex{
  justify-content: space-between;
}
/* ###### logo ###### */
.logo{
  margin-right: 45px;
}
/* ###### navigation menu ###### */
.navbar a{
  margin-left: 25px;
  font-size: 20px;
  color: white;
}
.navbar a:first-child{
  margin-left: 0;
}
/* ###### button ###### */
.head .btn{
  width: 200px;
  background-color: #3dcfd3;
  border-radius: 20px;
  border: none;
}
.head .btn a{
  color: white;
  font-size: 20px;
  font-weight: 600;
}



/* ############# Main CSS ############# */
#main{
  width: 100%;
  font-family: 'Open Sans', sans-serif;;
}

/* ########## banner ########## */
#banner{
  width: 100%;
  background-color: #000000;
  padding: 55px 0;
  position: relative;
}
.banner-flex{
  justify-content: space-between;
}
.image{
  width: 35%;
  margin-left: 50px;
}
.image img{
  height: 700px;
}
.details{
  width: 56%;
  flex-direction: column;
  justify-content: center;
}
.details h4{
  font-size: 25px;
  color: orchid;
  margin-bottom: 15px;
}
.details h2{
  font-size: 55px;
  color: white;
  margin-bottom: 35px;
}
.details .text{
  color: orchid;
}
.details p{
  color: white;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 25px;
}
.details .btn2{
  width: 40%;
  padding: 15px 0;
  border: 2px solid #3dcfd3;
  background-color: transparent;
  border-radius: 100px;
}
.details .btn2 a{
  font-size: 20px;
  color: orchid;
}
.details .btn2 i{
  font-size: 25px;
  color: #3dcfd3;
}
.wave{
  position: absolute;
  bottom: -15px;
  width: 100%;
}

/* ##### article section ##### */
#article{
  padding: 100px 0;
}
.article-flex{
  justify-content: space-between;
}
.article .image{
  width: 30%;
  margin-left: 0;
}
.article .image img{
  height: 430px;
}

.article .details{
  width: 50%;
}
.article .details h2{
  font-size: 28px;
  color: black;
  margin-bottom: 25px;
}
.article .details h4{
  font-size: 20px;
  color: black;
  font-weight: bold;
  margin-bottom: 15px;
}
.article .details p{
  font-size: 16px;
  color: darkgrey;
  line-height: 1.7;
}
.article .social i{
  font-size: 25px;
  color: orchid;
}
.article .social .svg{
  margin-left: 20px;
}

/* ########## our services ########## */
#wrapper{
  width: 100%;
  padding: 70px 0;
  background-color: rgb(133, 133, 133);
}
.wrap-flex{
  flex-direction: column;
  justify-content: space-between;
  row-gap: 130px;
}

.heading{
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}
.heading h2{
  font-size: 32px;
  font-weight: bold;
}
.heading .text{
  color: orchid;
}
.heading p{
  color: rgb(177, 177, 177);
  font-size: 18px;
}
.services{
  justify-content: space-between;
  row-gap: 100px;
}
.service{
  width: 31%;
  background-color: white;
  padding: 80px 25px 60px;
  text-align: center;
  row-gap: 20px;
  position: relative;
}
.service h3{
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 20px;
}
.service p{
  color: darkgrey;
  line-height: 1.5;
  font-size: 16px;
}
.service .top{
  position: absolute;
  top: -25%;
  left: 35%;
}

.service:hover{
  background-color: black;
  color: white;
  font-weight: 700;
}

/* ########## banner2 ########## */
#banner2{
  padding: 90px 0 100px;
  background: url(../Flexbox_Class_Work_Portfolio/Images/camera.png) no-repeat, linear-gradient(to left, #2e2d2d, #333333, #393839, #3e3e3e, #444444);
  position: relative;
}
.banner2-flex{
  flex-direction: column;
  align-items: center;
  gap: 15px 0;
}
.banner2 h2{
  font-size: 50px;
  color: orchid;
  font-weight: 600;
}
.banner2 p{
  font-size: 18px;
  color: white;
  margin-bottom: 30px;
}
.banner2 .btn2{
  border: none;
  width: 200px;
  padding: 15px;
  background-color: #3dcfd3;
}
.banner2 .btn2 i{
  font-size: 20px;
  margin-right: 5px;
}
.banner2 .btn2 a{
  font-size: 20px;
  color: white;
  font-weight: 600;
}

/* ########## our client ########## */
#wrapper2{
  width: 100%;
  padding: 70px 0;
  background-color: white;
}
.client-flex{
  flex-direction: column;
  justify-content: space-between;
  row-gap: 100px;
}
.client{
  background-color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}
.client img{
  width: 15%;
}
.client p{
  color: darkgrey;
  font-size: 16px;
}
.client .name{
  color: black;
  font-weight: 600;
}

/* ########## our works ########## */
.work-flex{
  flex-direction: column;
  justify-content: space-between;
  row-gap: 80px;
}
.works{
  justify-content: space-between;
  gap: 30px 10px;
}
.works img{
  width: 32%;
}

/* ########## our blog ########## */
.blog-flex{
  flex-direction: column;
  justify-content: space-between;
  row-gap: 80px;
}
.blog-flex .heading h2{
  color: white;
}
.blogs{
  justify-content: space-between;
}
.blog{
  width: 32%;
  background-color: white;
}
.blog img{
  width: 100%;
}
.blog .content{
  padding: 25px;
  flex-direction: column;
  row-gap: 25px;
}
.blog .content .heading h3{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}
.blog .content .heading p{
  font-size: 14px;
  color: rgb(82, 82, 82);
}
.blog .content p{
  font-size: 16px;
  line-height: 1.2;
  color: rgb(82, 82, 82);
}
.blog .content a{
  font-size: 16px;
  font-weight: 600;
  color: black;
}