/Form Assignment/output.png
/Table Assignment/output.png
/Portfolio/resume.png
/Basic/Iron-Man.jpg
/Favourite_Show_Landing_Page/output.png
/Favourite_Show_Landing_Page/Vikings.jpg
/Border/Images
/Border/output.png
/Assignment-9/Images
/Assignment-9/output.png
/Assignment-10/Images
/Assignment-10/output.png
/Assignment-11/Images
/Assignment-11/output.png
/Flexbox_Class_Work_Portfolio/output.png