/***** Font Family Import *****/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

/***** Reset CSS Start *****/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  font-family: 'Open Sans', sans-serif;
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***** Reset CSS End *****/


/***** Global Classes CSS Start *****/
*{
  box-sizing: border-box;
}
.container{
  width: 1300px;
  margin: 0 auto;
}
a{
  text-decoration: none;
}
ul,ol{
  list-style-type: none;
}
.d-flex{
  display: flex;
}
.d-grid{
  display: grid;
}
/***** Global Classes CSS End *****/


/***** Header Section CSS Start *****/
.main-menu{
  max-width: 100%;
  padding: 15px 20px;
  background-color: #202020;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: 50px;
  align-items: center;
  gap: 20px;
  position: sticky;
  top: 0;
}

/* ======== Logo css ======== */
.logo{
  padding: 5px;
}
.logo:hover{
  width: 100%;
  border: 1px solid white;
}
.logo img{
  width: 130px;
  padding-top: 10px;
}

/* ======== search css ======== */
.location{
  padding: 5px;
}
.location:hover{
  width: 100%;
  border: 1px solid white;
}
.location a{
  font-size: 13px;
  color: whitesmoke;
  line-height: 1.2;
  margin-left: 20px;
}
.location a span{
  font-size: 18px;
  color: white;
  font-weight: bold;
}

.search{
  width: 100%;
  height: 40px;
  grid-template-columns: 625px;
}
.searchbox{
  grid-template-columns: 1fr;
}
.searchbox{
  border-radius: 5px;
}

.search-bar{
  width: 100%;
  position: relative;
}
.search-bar:focus{
  outline: 2px solid #fa952f;
}
.search-bar input{
  width: 94%;
  height: 40px;
  /* margin-left: 10px; */
  border-radius: 5px;
  border: none;
  text-indent: 75px;
  padding: 12px;
  font-size: 18px;
  outline: none;
}
.search-bar input:focus{
  width: 100%;
  outline: 3px solid #fa952f;
}

.searchbox .selection{
  height: 40px;
  padding: 0 15px;
  background-color: #cec9c9;
  text-align: center;
  border-radius: 5px 0 0 5px;
  cursor: pointer;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 15px;
  position: absolute;
  left: 0;
  top: 0;
}
.searchbox .selection:hover{
  background-color: #969696;
  outline: 3px solid #fa952f;
}
.searchbox .selection span{
  color: black;
  font-size: 16px;
}

.searchbox .search-icon{
  height: 40px;
  padding: 10px 15px;
  border-radius: 0 5px 5px 0;
  background-color: #ffac58;
  position: absolute;
  top: 0;
  right: 0;
}
.searchbox .search-icon:hover{
  background-color: #fa952f;
  outline: 2px solid #fa952f;
}
.searchbox .search-icon i{
  font-size: 19px;
  color: black;
}


/* ======== nav-menu css ======== */
.nav-menu{
  grid-template-columns: repeat(3, auto);
  column-gap: 20px;
  align-items: center;
}
.nav-menu > div{
  width: 100%;
  padding: 5px;
}
.nav-menu > div:hover{
  border: 1px solid white;
}
.nav-menu a{
  font-size: 13px;
  color: whitesmoke;
}
.nav-menu span{
  font-size: 18px;
  color: white;
  font-weight: bold;
}
.cart i{
  font-size: 30px;
  color: white;
}


/***** Sub-menu CSS *****/
.sub-menu{
  width: 100%;
  padding: 5px 20px;
  background-color: #484a55;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: 40px;
  align-items: center;
  column-gap: 15px;
}
.dashed{
  width: 100%;
  padding: 5px;
  color: white;
  text-align: center;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 5px;
}
.dashed:hover{
  border: 1px solid white;
}
.dashed i{
  font-size: 25px;
}
.dashed span{
  font-size: 16px;
  font-weight: bold;
}
.menu-list{
  grid-template-columns: repeat(5, auto);
  justify-self: start;
}
.menu-list li {
  width: 100%;
  text-align: center;
  margin-right: 20px;
  padding: 5px 0;
}
.menu-list li:hover{
  border: 1px solid white;
}
.menu-list li a{
  color: white;
  font-size: 16px;
  font-weight: bold;
}

.special li{
  width: 100%;
  padding: 5px;
}
.special li:hover{
  border: 1px solid white;
}
.special li a{
  color: white;
  font-size: 16px;
  font-weight: bold;
}
/***** Header Section CSS End *****/



/***** Main Section CSS Start *****/
/* ======= banner css ======= */
.banner{
  width: 100%;
  z-index: -1;
  margin-bottom: -300px;
  -webkit-mask-image: linear-gradient(to bottom, rgb(31, 21, 21), transparent);
}
.banner .banner-img{
  width: 100%;
}




/***** Main Section CSS End *****/



/***** Footer Section CSS Start *****/

/***** Footer Section CSS End *****/