*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* header style */
header{
  width: 100%;
  height: 75px;
  padding: 10px 0;
  background-color: #c15355;
  position: sticky;
  top: 0;
  z-index: 1;
}
#navbar{
  width: 85%;
  margin: 0 auto;
}
#navbar img{
  float: left;
}
#navbar ul{
  list-style-type: none;
  margin: 10px 0;
  float: right;
}
#navbar ul li{
  display: inline-block;
  font-size: 22px;
  margin-right: 50px;
  position: relative;
}
#navbar ul li:last-of-type{
  margin-right: 0;
}
#navbar li a{
  text-decoration: none;
  color: white;
}
#navbar li a::after{
  content: '';
  width: 0;
  height: 3px;
  background-color: indigo;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
}
#navbar li a:hover::after{
  width: 80%;
}

/* main style */
#sec1{
  margin-bottom: 50px;
}
.info{
  width: 100%;
  padding: 55px 0 70px;
  text-align: center;
  background-color: #c15355;
  color: white;
}
.info h1{
  font-size: 4em;
}
.info p{
  font-size: 20px;
  line-height: 25px;
}

#sec2{
  margin-bottom: 50px;
}
#wrapper{
  width: 100%;
  text-align: center;
}
.cont1{
  width: 300px;
  margin-right: 40px;
  display: inline-block;
}
.cont1:last-of-type{
  margin-right: 0;
}
.cont1 h2{
  font-size: 25px;
  color: #c15355;
  margin-bottom: 20px;
}
.cont1 p{
  font-size: 18px;
  color: grey;
  margin-bottom: 20px;
}
.cont1 button{
  padding: 10px 20px;
  background-color: #c15355;
  border: none;
  color: white;
  font-size: 18px;
}

#sec3{
  background-color: #c15355;
  padding: 40px 0;
  margin-bottom: 60px;
}
.heading{
  text-align: center;
  color: white;
}
.heading h2{
  font-size: 45px;
  font-weight: 500;
}
.heading p{
  font-size: 20px;
}

#box{
  margin: 75px 0 30px;
  text-align: center;
}
.box1{
  width: 180px;
  border-top: 1px solid rgb(202, 202, 202);
  border-right: 1px solid #e3e3e3;
  border-bottom: 1px solid rgb(202, 202, 202);
  border-left: 1px solid #e3e3e3;
  padding: 20px 40px;
  color: white;
  text-align: center;
  margin-right: 40px;
  display: inline-block;
  position: relative;
}
.box1:last-of-type{
  margin-right: 0;
}
.box1 img{
  border-radius: 50%;
  margin-bottom: 20px;
}
.box1 figcaption{
  margin-bottom: 45px;
}
.box1 figcaption span{
  font-size: 25px;
}
.box1 .image1{
  border-radius: 5px;
  position: absolute;
  bottom: -33px;
  left: 35px;
}

#sec4{
  margin-bottom: 100px;
}
.heading1{
  text-align: center;
  color: #c15355;
}
.heading1 h2{
  font-size: 45px;
  font-weight: 500;
}
.heading1 p{
  font-size: 18px;
  line-height: 35px;
}

#container{
  margin: 50px 170px;
}
.contain1{
  width: 500px;
  padding: 10px;
  display: inline-block;
}
.container:nth-child(1){
  margin-right: 30px;
}
.contain1 h2{
  color: #c15355;
  margin-bottom: 15px;
}
.contain1 p{
  color: grey;
  margin-bottom: 15px;
}
.contain1 button{
  width: 100px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: #c15355;
  color: white;
  font-size: 18px;
  border: none;
}

.pgup{
  text-align: center;
  padding-top: 8px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 3px solid orchid;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 140px;
}
.pgdn{
  text-align: center;
  padding-top: 8px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: 3px solid orchid;
  border-radius: 50%;
  position: fixed;
  right: 0;
  bottom: 90px;
}

footer{
  margin-bottom: 30px;
}
hr{
  border: 4px solid #e3e3e3;
  margin-bottom: 20px;
}
footer p{
  margin: 0 30px;
  display: inline;
  color: gray;
  font-size: 18px;
  float: left;
}
footer .social{
  float: right;
  margin: 0 30px;
}
footer .social i{
  margin-right: 20px;
  color: #c15355;
  font-size: 18px;
}
footer br{
  clear: both;
}
